* {

    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.top-mar{
    background-color: gray;
    font-size: 8px;
    text-align: center;
    padding: 10px;
}
.top-mar h1 {
    color: white;

}
.top-mar span {
    color: rgb(10, 66, 219);
    cursor: pointer;
    text-decoration: underline;
}
.logo img {
    width: 50px;
    height: 40px;
    margin-left: 40px;
    margin-top: 20px;
    border-radius: 100px;
    float: left;
}

.logo input {
 
    margin: 30px;
    margin-right: 20px;
    padding:10px;
    font-size: 15px;
    margin-top: 20px;
    width: 60%;

}
.lists {
    text-decoration: none;
}
.ul-links {
    margin-left: 7%;
    text-decoration: none;
   
   
}
.ul-links ul li {
    display: inline-block;
    padding-left: 30px;
}
.list-icons {
    float: right;
    margin-top: -25px;
    
}
.list-icons  a {
    margin: 10px;
    padding: 20px;
    color: black;
    cursor: pointer;
    
}
.main-img-center img {
    background-position: center;
    background-size: cover;
    margin-left: 5%;
    height: 50%;
    width: 90%;
    
}

.types-of-lap {
    text-align: center;
}
.types-of-lap h1 {
    color: rgb(33, 68, 221);
}


.column {
    float: left;
    width: 30%;
    padding: 10px;
    height: 500px;
    margin-left: 20px;

  }
  
 
  .row:after {
       content: "";
       display: table;
       clear: both;
  }
    
.column img {
    width: 100%;
    height: 200px;

}
.bottom-img img {
    margin: 20px;
    padding-left: 30px;
}

.columnn {
    float: left;
    padding: 10px;
    height: 300px; 
    width: 18%;
  }
  
  
.roww:after {
    content: "";
    display: table;
    clear: both;
}
.roww .columnn a {
    color: black;
    text-decoration: none;
}


section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
}

section .content {
    max-width: 80%;
}

section .content h2 {
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 3em;
    transition: 1s ;
    transform-origin: left;
    transform: scaleX(0);

}
section .content h2[data-scroll = "in"] {
    transform: scaleX(1);

}

section .content h2:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(238, 180, 73);
    transform-origin: right;
    transition: 0.5s;
}
section .content h2[data-scroll = "in"]:before {
    transform: scaleX(0);
    transition-delay: 0.5s;
}


section .content h3 {
    position: relative;
    margin: 5px 0 0 ;
    padding: 0;
    display: inline-block;
    font-size: 2em;
    transition: 1s ;
    transform-origin: right;
    transform: scaleX(0);

}
section .content h3[data-scroll = "in"] {
    transform: scaleX(1);
    transition: 1s;

}

section .content h3:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: yellowgreen;
    transform-origin: right;
    transition: 0.5s;
}

section .content h3[data-scroll = "in"]:before {
    transform: scaleX(0);
    transition-delay: 0.5s;
}


.content a {
    position: relative;
    background: gray;
    color: #262626;
    padding: 10px 10px;
    font-size: 15px;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    transition: 1s;
    transform-origin: center;
    transform: translateX(100px);
    opacity: 0;


}
section .content a[data-scroll = "in"] {
    transform: translateX(0);
    transition-delay: 0.5s;
    opacity: 1;
    
}


section .content p {
    font-size: 1.2em;
    transition: 1s;
    opacity: 0;
}

section .content p[data-scroll = "in"] {
    opacity: 1;
    transition-delay: 0.5s;
    

}

figure {
    position: relative;
    width: calc(50% - 2rem);
    overflow: hidden;
    max-width: max-content;
    float: left;
}

.imgg { 
display: block;
position: relative;
left: 50%;
transform: translateX(-50%)
}

figcaption {
position: absolute;
bottom: 0;
width: 100%;
box-sizing: border-box;
padding: 1rem;
font-weight: bold;
color: white;
background-color: rgba(0,0,0,.5);   
}

.aaa {
float: right;
font-style: italic;
font-weight: normal;
color: #ddd;
}
